/* UNIVERSAL STYLES: */
html {
    box-sizing: border-box;
    font: 18px Helvetica, sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font: 18px "Open Sans", sans-serif;
}

/* NAV BAR: */
.navbar-default .navbar-nav > .active > a {
    font-size: 1.1rem;
}

.navbar-default .navbar-nav > .active > a:hover {

}

/* JUMBOTRON: */



/* MAIN: */



/* FOOTER: */



/* MEDIA QUERIES: */
@media screen and (max-width:#px) {
    selector {
        property: value;
    }
}